@{
    ViewData["Title"] = "Acceuil";
}


<div>
    <img src="~/Images/Cofomo_logo_large.png" class="img-fluid">
</div>
<div class="text-center" style="height:200px;">
    <div class="my-auto">
    <h1 class="display-4">Bienvenue</h1>
    <p>Laboratoire Azure Web App, ASP.NET Core, Entity Framework Core, Azure SQL Database et Azure DevOps.</p>
</div>

</div>
<div class="row">
    <div class="area-tile col-xs-12 col-sm-3 col-md-3">
        <a href="https://github.com/hinault/workshop-azure-aspnet-core-devops/tree/master/Etape%201%20-%20Deployer%20une%20Web%20App%20sur%20Azure">
            <img src="~/Images/AzureWebApp.png" alt="New Season Parts Image" class="img-fluid" />
            <div>Etape 1 : déployer sur Azure Web App</div>
        </a>
    </div>
    <div class="area-tile col-xs-12 col-sm-3 col-md-3">
        <a href="https://github.com/hinault/workshop-azure-aspnet-core-devops/tree/master/Etape%202%20-%20Ajouter%20Entity%20Framewor%20Core">
            <img src="~/Images/efcore.png" alt="How to Guide Image" class="img-fluid" />
            <div>Etape 2 : CRUD avec Entity Framework Core</div>
        </a>
    </div>
    <div class="area-tile col-xs-12 col-sm-3 col-md-3">
        <a href="https://github.com/hinault/workshop-azure-aspnet-core-devops/tree/master/Etape%203%20-%20Utiliser%20Azure%20SQL%20Database">
            <img src="~/Images/azuresqlsdatabase.png" alt="Understand Your Engine Image" class="img-fluid" />
            <div>Etape 3 : Utiliser Azure SQL Database</div>
        </a>
    </div>
    <div class="area-tile col-xs-12 col-sm-3 col-md-3">
        <a href="https://github.com/hinault/workshop-azure-aspnet-core-devops/tree/master/Etape%204%20-%20CI%20et%20CD%20avec%20Azure%20DevOps">
            <img src="~/Images/azuredevops.png" alt="Road Trip Tips Image" class="img-fluid" />
            <div>Etape 4 : CI & CD avec Azure DevOps</div>
        </a>
    </div>
</div>